* {
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.navbar, .navbar-brand {
    font-size: 2vh;
}
.album {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 5%;
    flex-wrap: wrap;
}
h1 {
    text-align: center;
    color: rgb(146, 204, 243);
    text-shadow: 0 0 10px white;
    font-size: 10vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.end {
    padding-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
body .modal-dialog { /* Width */
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}
.modal {
    text-align: center;
}